html {
	height: 100%;
}

body {
	font-family: 'Varela Round', sans-serif;
	background-color: #6633cc;
	background: linear-gradient(to bottom, #6633cc, #4433cc);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
}

.cats {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cat__wrapper {
	width: 25%;
	min-width: 300px;
	position: relative;
	border: 10px solid lighten(#4433cc, 10%);
	margin: 10px;
	box-shadow: 0 20px 60px -20px rgba(darken(#4433cc, 30%), 0.5);
}

.cat__image {
	width: 100%;
	display: block;

	&:hover {
		cursor: pointer;
	}
}

.cat__name {
	position: absolute;
	top: -20px;
	left: 0;
	padding: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	color: #4433cc;
}

.cat__counter {
	position: absolute;
	top: 0;
	right: 0;
	background-color: lighten(#4433cc, 10%);
	padding: 0 0 5px 10px;
	border-radius: 0 0 0 5px;
	color: white;
}